header {
  color: var(--fccGreen);
  grid-column: 1/8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

h1 {
  font-family: 'Bevan', Arial, sans-serif;
}

@media screen and (orientation: landscape) {
  header {
    grid-column: 3/7;
    text-align: center;
    padding: 0;
  }
}
