.pageInfoBtn {
  grid-column: 5/9;
  /*grid-row: 1;*/
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1em;
  /*padding-left: 3em;*/
}

.pageInfoBtn button {
  border: 1px solid var(--fccGreen);
  border-radius: 6px;
  padding: 0.7em;
  color: var(--fccGreen);
  font-family: 'Lato', sans-serif;
  cursor: pointer;
  background: none;
  transition: background 0.2s ease-in-out;
}

.pageInfoBtn button:hover {
  background: var(--fccGreen);
  color: #fff;
}

@media screen and (orientation: landscape) {
  .pageInfoBtn {
    grid-column: 7/9;
    grid-row: 1;
    justify-content: center;
    padding-top: 1em;
  }
}
